<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %} | nDART</title>
    <link href="{{ url_for('static', filename='vend/dt/css/jquery-ui.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='vend/DataTables/datatables.css') }}" rel="stylesheet" type="text/css">
    <script src="{{ url_for('static', filename='vend/moment/moment.js') }}"></script>
    <script src="{{ url_for('static', filename='vend/jquery/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vend/DataTables/datatables.js') }}"></script>
    <script src="{{ url_for('static', filename='vend/socket.io/4.4.1/socket.io.min.js')}}"></script>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
    {# Block for page-specific CSS #}
    {% block extra_css %}{% endblock %}
    {% if not public_page %}
    <script type="text/javascript">
      window.ndart = {};
      window.ndart.form_options = {{ form_options|tojson|safe }};
    </script>
    {% endif %}
    {# Block for page-specific JS #}
    {% block extra_head_js %}{% endblock %}
</head>
<body>
    {% if not public_page %}
        {% include 'components/navbar.html' %}
    {% endif %}
  <div class="container">
    {% block content %}{% endblock %}
  </div>
  {% block scripts %}{% endblock %}
  <span>Copyright 2025 nDART</span>
</body>
</html>