<nav class="nav">
    <div class="navbar-container">
        <ul class="navbar">
            <li><a href="{{ url_for('main_bp.dashboard') }}"> Dashboard </a></li>
            <li><a href="{{ url_for('main_bp.events') }}"> Events </a></li>
            <li><a href="{{ url_for('main_bp.observations') }}"> Observations </a></li>
            <li><a href="{{ url_for('main_bp.station_statuses') }}"> Station Statuses </a></li>
            <li><a href="{{ url_for('chat') }}"> Chat </a></li>
            {% if is_admin %}
                <li><a href="{{ url_for('admin') }}"> Admin </a></li>
            {% endif %}
        </ul>
        
        <div class="user-info">
            <span class="username"><a href="#">{{ username }}</a></span>
            <a href="{{ url_for('logout') }}" class="logout-btn">Logout</a>
        </div>
    </div>
</nav>