async-timeout>=4.0.3
bidict>=0.23.1
blinker>=1.8.2
click>=8.1.7
Deprecated>=1.2.14
dnspython>=2.6.1
eventlet>=0.36.1
Flask>=3.0.3
Flask-SocketIO>=5.3.6
Flask-WTF>=1.2.1
greenlet>=3.0.3
flask-sqlalchemy>=3.1.1
flask-migrate>=4.0.5
flask-jwt-extended>=5.5.0
h11>=0.14.0
itsdangerous>=2.2.0
Jinja2>=3.1.4
MarkupSafe>=2.1.5
packaging>=24.1
pyparsing>=3.1.2
python-engineio>=4.9.1
python-socketio>=5.11.3
simple-websocket>=1.0.0
six>=1.16.0
typing_extensions>=4.12.2
Werkzeug>=3.0.3
wrapt>=1.16.0
wsproto>=1.2.0
WTForms>=3.1.2
et-xmlfile>=1.1.0
Flask-Login @ git+https://github.com/maxcountryman/flask-login.git
numpy>=2.0.0
openpyxl>=3.1.5
pandas>=2.2.2
python-dateutil>=2.9.0.post0
pytz>=2024.1
tzdata>=2024.1
XlsxWriter>=3.2.0
