<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign In | nDART</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="content">
<div class="login-form">
  <h2>nDART Sign In</h2>
  <div class="row">
    <div class="col-md-4">
      <form action="{{ url_for('login') }}" method="post" novalidate="" class="login-form">
        <p>
          <label for="username">User</label><br>
          <input id="username" name="username" type="text" required="" size="32" value="" class="form-input"><br>
        </p>
        <p>
          <label for="password">Password</label><br>
          <input id="password" name="password" required="" size="32" type="password" value="" class="form-input"><br>
        </p>
        <p><button type="submit" name="submit" value="Sign In">Sign In</button></p>
      </form>
      {% with errors = get_flashed_messages(category_filter=["error"]) %}
        {% if errors %}
        <div class="alert-message block-message error">
          <ul>
            {%- for msg in errors %}
            <li>{{ msg }}</li>
            {% endfor -%}
          </ul>
        </div>
        {% endif %}
        {% endwith %}
        {% with successes = get_flashed_messages(category_filter=["success"]) %}
        {% if successes %}
        <div class="success-message block-message error">
            {%- for msg in successes %}
                {{ msg }}
                <br>
            {% endfor -%}
        </div>
        {% endif %}
        {% endwith %}
    </div>
  </div>
</div>
</body>
</html>